.about {
  margin-bottom: 23px;
  padding: 17px 0 130px;
  background-image: url("../img/about-watercolor@2x.jpg");
  background-repeat: no-repeat;
  background-position: -3px 176px;
  background-size: 100%;

  @include max-resolution {
    background-image: url("../img/about-watercolor.jpg");
  }
}

.about__container {
  @include push-auto;

  width: 63.689%;

  h2 {
    @include title;

    margin-bottom: 25px;
    text-align: center;
  }

  p {
    @include typography(17, 29);

    margin: 0 auto 47px;
    width: 79.5%;
    text-align: right;
    text-align-last: center;
  }
}

.about__video {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-height: 460px;
  background-image: url("../img/about-video@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include max-resolution {
    background-image: url("../img/about-video.png");
  }
}

.about__video-control {
  @include button-reset;
  @include transition;

  position: absolute;
  left: 50%;
  top: 42.5%;
  margin-left: -32px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;
  z-index: 10;
  fill: $blue;

  svg {
    position: absolute;
    top: 22px;
    left: 27px;
    fill: inherit;
  }

  &:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    fill: $blue-hovered;
  }

  &:active {
    background-color: #f4f4f4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    fill: $blue;
  }

  &::before {
    @include pseudo;

    top: -16px;
    left: 50%;
    margin-left: -48px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: rgba($color: $white, $alpha: 0.32);
    z-index: -1;
  }
}

@include max-tablet {
  .about {
    margin-bottom: 20px;
    padding: 13px 0;
  }

  .about__container {
    width: 100%;

    h2 {
      margin-bottom: 24px;
    }

    p {
      @include typography(16, 26);

      width: 89.5%;
      text-align: left;
    }
  }

  .about__video {
    min-height: 224px;
    background-image: url("../img/about-video-mobile@2x.png");
    background-position: center;
    background-size: cover;

    @include max-resolution {
      background-image: url("../img/about-video-mobile.png");
    }
  }

  .about__video-control {
    top: 41.5%;
    margin-left: -26px;
    width: 53.33px;
    height: 53.33px;
    background-position: 21px center;
    background-size: 24%;

    svg {
      top: 19px;
      left: 22px;
      width: 12.5px;
      height: 15.83px;
    }


    &::before {
      top: -14px;
      margin-left: -41px;
      width: 80px;
      height: 80px;
    }
  }
}
