.about {
  margin-bottom: 135px;
  padding: 17px 0;
  background-image: url("../img/about-watercolor@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__container {
  @include push-auto;

  width: 63.689%;

  h2 {
    @include title;

    margin-bottom: 25px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    margin: 0 auto 47px;
    width: 79.5%;
    font-size: rem(17);
    line-height: rem(29);
    text-align: center;
  }
}

.about__video {
  position: relative;

  img {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 224px;
    max-width: 100%;
    z-index: -10;
  }
}

.about__video-control {
  @include button-reset;
  @include transition;

  position: absolute;
  left: 50%;
  top: 42.5%;
  margin-left: -32px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: $white;
  background-image: url("../img/play-button.svg");
  background-repeat: no-repeat;
  background-position: 27px center;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }

  &:active {
    background-color: #f4f4f4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }

  &::before {
    @include pseudo;

    top: -16px;
    left: 50%;
    margin-left: -48px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: rgba($color: $white, $alpha: 0.32);
    z-index: -1;
  }
}

@include max-tablet {
  .about {
    margin-bottom: 19px;
    padding: 13px 0;
  }

  .about__container {
    width: 100%;

    h2 {
      font-size: rem(32);
      line-height: rem(39);
    }

    p {
      width: 89.5%;
      font-size: rem(16);
      line-height: rem(26);
      text-align: left;
    }
    // TODO поправить изображение
    img {
      height: initial;
      object-fit: cover;
    }
  }

  .about__video-control {
    top: 41.5%;
    margin-left: -26px;
    width: 53.33px;
    height: 53.33px;
    background-position: 21px center;
    background-size: 24%;


    &::before {
      top: -14px;
      margin-left: -41px;
      width: 80px;
      height: 80px;
    }
  }
}
