.button {
  @include button-reset;

  padding: 16px 20px 17px;
  border-radius: 80px;
  font-size: rem(15);
  line-height: rem(26);
  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  background: linear-gradient(142.39deg, $yellow 20.46%, $light-yellow 65.31%);
  cursor: pointer;

  //TODO анимировать
  &:hover {
    background: linear-gradient(143.55deg, $yellow -50.3%, $light-yellow 63.1%);
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, $yellow -50.3%, $light-yellow 63.1%);
  }
}
