.callback {
  padding-top: 177px;
  padding-bottom: 157px;
  background-image: url("../img/girl-flag@2x.png"), url("../img/wantto-bg@2x.png");
  background-repeat: no-repeat;
  background-size: 60%, 11%;
  background-position: right -1px top -33px, top 100px left;

  @include max-resolution {
    background-image: url("../img/girl-flag.png"), url("../img/wantto-bg.png");
  }

  h2 {
    @include title;

    margin-bottom: 23px;
  }

  p {
    @include typography(17, 29);

    margin: 0;
    margin-bottom: 64px;
    width: 79%;
    opacity: 0.87;
  }
}

.callback__container {
  margin-left: 15.373%;
  min-width: 400px;
  width: 34.9%;

  button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 19px 20px 20px;
    width: 216px;
  }
}

@include max-tablet {
  .callback {
    padding: 32px 0 317px;
    background-image: url("../img/girl-flag-mobile@2x.png"), url("../img/wantto-bg@2x.png");
    background-size: 100%, 34%;
    background-position: center bottom 10px, left -7px top -19px;

    h2 {
      margin-bottom: 24px;
      padding-left: 7px;
    }

    p {
      @include typography(16, 26);

      margin-bottom: 23px;
      width: 100%;
    }
  }

  .callback__container {
    @include push-auto;

    min-width: auto;
    width: 89.375%;

    button[type="submit"] {
      @include push-auto;

      position: relative;
      width: 264px;
    }
  }
}
