.contacts {
  display: flex;
  padding: 50px 0 10px;
  background-image: url("../img/details-watercolor@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include max-resolution {
    background-image: url("..//img/details-watercolor.png");
  }
}

.contacts__container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  width: 91.947%;

  h2 {
    @include title;

    width: 100%;
  }
}

.contacts__inner {
  margin-bottom: 64px;
  width: 50%;

  &--form {
    width: 100%;
  }

  &--curator {
    width: 44%;
    padding-top: 49px;
  }

  &--map {
    position: relative;
    flex-grow: 1;
    margin-top: -44px;

    img {
      height: auto;
      width: 100%;
    }

    &::before {
      @include pseudo;

      top: 51.3%;
      left: 73.8%;
      width: 18px;
      height: 28px;
      background-image: url("../img/map-pin.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: 100;
    }
  }

  & > p {
    @include typography(15, 22);

    position: relative;
    margin: 0;
    margin-bottom: 38px;
    padding-left: 22px;
    color: rgba($color: $black, $alpha: 0.74);

    &::before {
      @include pseudo;

      top: 1px;
      left: 4px;
      width: 12px;
      height: 18px;
      background-image: url("../img/marker.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.contacts__hometown {
  position: relative;
  margin-left: 13px;
  border-bottom: 1px dashed $blue;
  font-family: $main-medium;
  font-size: rem(19);
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 0.4px;

  &::before {
    @include pseudo;

    top: 6px;
    right: -25px;
    width: 16px;
    height: 15px;
    background-image: url("../img/blue-arrow-upright.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.contacts__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;

  p {
    @include typography(17, 25);

    margin: 0;
    margin-right: 3.98%;
    width: 26.114%;
    font-family: $main-medium;
    font-weight: 500;
    color: rgba($color: $black, $alpha: 0.87);
  }

  input[type="tel"],
  input[type="text"] {
    width: 100%;
  }

  button[type="submit"] {
    margin: 0;
    width: 17.197%;
  }

  small {
    @include typography(13, 19);

    padding-top: 8px;
    width: 28.98%;
    color: rgba($color: $black, $alpha: 0.5);
  }

  .form__inner {
    margin: 0;
    margin-right: 1.91%;
    width: 19.904%;
  }
}

@include max-pre-desktop {
  .contacts__container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    h2 {
      text-align: center;
    }
  }

  .contacts__inner {
    margin-bottom: 20px;
    width: 70%;

    &--map {
      margin-top: 0;
    }
  }

  .contacts__form {
    justify-content: center;

    p {
      margin: 0;
      margin-bottom: 40px;
      width: 80%;
      text-align: center;
    }

    .form__inner {
      margin: 0;
      margin-bottom: 25px;
      margin-right: 20px;
      width: 45%;

      &:last-of-type {
        margin-right: 0;
      }
    }

    button[type="submit"] {
      margin-bottom: 40px;
      width: 40%;
    }

    small {
      padding: 0;
      width: 100%;
      text-align: center;
    }
  }
}

@include max-tablet {
  .contacts {
    margin-bottom: 53px;
    padding-top: 27px;
    background-image: none;
  }

  .contacts__container {
    display: block;
    width: 100%;
  }

  .contacts__inner {
    margin: 0 auto;
    width: 90%;

    & > p {
      margin-bottom: 39px;
    }

    &--curator {
      padding-top: 23px;
    }

    &--map {
      margin-bottom: 44px;
      width: 100%;
      max-width: 420px;
      min-height: 440px;
      overflow: hidden;

      img {
        position: absolute;
        height: auto;
        width: 659px;
        left: -223px;
        top: 39px;
      }

      &::before {
        left: 263px;
        top: 55.6%;
        width: 26px;
        height: 40px;
      }
    }
  }

  .contacts__form {
    flex-direction: column;

    p {
      @include typography(16, 24);

      order: -2;
      margin-bottom: 12px;
      width: 100%;
      text-align: left;
    }

    small {
      order: -1;
      margin-bottom: 35px;
      text-align: left;
    }

    .form__inner {
      margin-right: 0;
      margin-bottom: 8px;
      width: 100%;

      &:last-of-type {
        margin-bottom: 24px;
      }
    }

    button[type="submit"] {
      margin-bottom: 0;
      width: 92%;
    }
  }
}
