.curator {
  display: flex;
  flex-wrap: wrap;

  & > p {
    @include typography(17, 29);

    margin: 0;
    padding-right: 70px;
    color: rgba($color: $black, $alpha: 0.87);
  }

  br {
    display: none;
  }
}

.curator__avatar {
  margin-right: 25px;

  img {
    border-radius: 50%;
  }
}

.curator__contacts {
  margin-bottom: 33px;
  padding-top: 2px;
  max-width: 270px;

  p {
    @include typography(15, 22);

    margin: 0;
    margin-bottom: 13px;
    color: $blue;
  }

  span {
    margin-left: 4px;
    color: rgba($color: $black, $alpha: 0.74);
  }

  address {
    @include typography(13, 19);

    margin-bottom: 12px;
    font-style: normal;
    font-size: rem(13);
    line-height: rem(19);
    color: rgba($color: $black, $alpha: 0.74);
  }
}

.curator__socials {
  margin-left: -4px;
  width: 95px;
}

@include max-tablet {
  .curator {
    & > p {
      @include typography(16, 26);

      padding-right: 0;
    }

    br {
      display: block;
    }
  }

  .curator__avatar {
    margin-right: 0;
    margin-bottom: 17px;
  }

  .curator__contacts {
    margin-bottom: 35px;
    padding-top: 0;
    max-width: 100%;
  }
}
