.faq {
  display: flex;
  padding-bottom: 129px;
  background-image: url("../img/faq-img@2x.png"), url("../img/faq-bg@2x.png"), url("../img/faq-watercolor@2x.jpg");
  background-size: 47%, 11.3%, cover;
  background-position: right top, bottom left, center;
  background-repeat: no-repeat;

  @include max-resolution {
    background-image: url("../img/faq-img.png"), url("../img/faq-bg.png"), url("../img/faq-watercolor.jpg");
  }
}

.faq__container {
  margin-left: auto;
  width: 91.947%;

  h2 {
    @include title;

    margin-bottom: 18px;
  }
}

@include max-desktop {
  .faq {
    background-image: url("../img/faq-bg@2x.png");
    background-position: bottom left;

    @include max-resolution {
      background-image: url("../img/faq-bg.png");
    }
  }

  .faq__container {
    margin: 0 auto;
    width: 80%;

    h2 {
      text-align: center;
    }
  }
}

@include max-tablet {
  .faq {
    padding-bottom: 50px;
    background-position: bottom 117px left -5px;
  }

  .faq__container {
    width: 90%;
  }
}
