.features {
  padding-top: 55px;
  padding-bottom: 158px;
  background-image: url("../img/israel-life-bg@2x.png"), url("../img/israel-life-watercolor@2x.png");
  background-repeat: no-repeat;
  background-size: 6.5%, 100%;
  background-position: right bottom 243px, 0 13px;

  h2 {
    @include title;

    margin: 0 auto 23px;
    padding-right: 11px;
    width: 60%;
    text-align: center;
  }

  p {
    @include typography(17, 29);

    margin: 0 auto;
    padding-right: 30px;
    width: 64.102%;
    text-align: right;
    color: rgba($color: $black, $alpha: 0.87);
  }
}

.features__container {
  margin-left: 103px;
  width: 85.651%;
}

.features__linebreak {
  display: none;
}

@include max-desktop {
  .features {
    p {
      padding: 0;
      text-align: center;
    }
  }

  .features__container {
    margin: 0 auto;
    width: 95%;
  }
}

@include max-tablet {
  .features {
    padding-top: 23px;
    padding-bottom: 27px;
    background: none;

    h2 {
      width: 100%;
    }

    p {
      @include typography(16, 26);

      margin-bottom: 45px;
      padding-right: 12px;
      width: 100%;
      text-align: left;
    }
  }

  .features__container {
    width: 90%;
  }

  .features__linebreak {
    display: block;
  }
}
