.features {
  padding: 51px 110px 110px 104px;
  background-image: url("../../img/israel-life-watercolor@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h2 {
    @include title;

    margin-bottom: 24px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    margin: 0 auto;
    padding-right: 2px;
    width: 62%;
    font-size: rem(17);
    line-height: rem(29);
    text-align: right;
  }
}

