.form {
  padding: 10px 28px;

  &--callback {
    position: relative;
    padding: 0;
  }

  label {
    display: none;
    cursor: pointer;

    &[for="consent"] {
      display: block;
    }
  }

  input[type="text"],
  input[type="tel"] {
    @include placeholder {
      @include typography(21, 20);

      font-family: $main-medium;
      font-weight: 500;
      font-variant: small-caps;
      opacity: 0.5;
    }

    position: relative;
    padding: 19px 38px 18px;
    width: 100%;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    outline: none;
  }

  button[type="submit"] {
    @include button-reset;
    @include push-auto;
    @include transition;

    margin-top: 24px;
    margin-bottom: 17px;
    padding: 19px 20px 20px;
    width: 69%;
    border-radius: 80px;
    font-family: $main-medium;
    font-variant: small-caps;
    font-size: rem(21);
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    color: $white;
    background: linear-gradient(142.39deg, $yellow 20.46%, $light-yellow 65.31%);
    cursor: pointer;

    &:hover {
      background: linear-gradient(143.55deg, $yellow -50.3%, $light-yellow 63.1%);
    }

    &:active {
      background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, $yellow -50.3%, $light-yellow 63.1%);
    }
  }
}

.form__inner {
  position: relative;
  margin-bottom: 8px;
  width: 93.5%;

  span {
    @include typography(13, 19);

    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -19px;
    text-align: center;
    color: $input-error;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--name,
  &--phone {
    padding: 2px;
    border-radius: 80px;
    background-color: $input-stroke;
  }

  &--callback {
    padding: 2px;
    border-radius: 80px;
    background-color: $input-stroke;
  }

  &--focused {
    background: linear-gradient(142.39deg, $yellow 20.46%, $light-yellow 65.31%);
  }

  &--hovered {
    background-color: rgba($color: $black, $alpha: 0.4);
  }

  &--valid {
    background-color: rgba($color: $black, $alpha: 0.5);
  }

  &--error {
    margin-bottom: 20px;
    background-color: $input-error;

    span {
      display: block;
    }
  }

  &--consent {
    width: 95.5%;

    label {
      @include typography(13, 19);
      @include user-interaction;

      position: relative;
      padding-left: 84px;
      width: 88%;
      font-size: rem(13);
      color: rgba($color: $black, $alpha: 0.74);

      &::before {
        @include pseudo;

        left: 60px;
        top: 1px;
        width: 16px;
        height: 16px;
        background-image: url("../img/checkbox.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &::after {
        @include pseudo;

        display: none;
        top: 4px;
        left: 65px;
        width: 7px;
        height: 8px;
        border: 2px solid $yellow;
        border-top: transparent;
        border-left: transparent;
        transform: rotate(45deg);
      }
    }

    input[type="checkbox"]:checked + label::after {
      display: block;
    }

    input[type="checkbox"]:focus + label {
      opacity: 0.7;
    }
  }
}

@include max-tablet {
  .form {
    padding: 10px 0;

    &--callback {
      padding: 0;
    }

    input[type="text"],
    input[type="tel"] {
      width: 100%;
    }

    button[type="submit"] {
      width: 91.666%;
      margin-top: 24px;
    }
  }

  .form__inner {
    &--consent {
      label {
        padding-left: 37px;
        width: 100%;

        &::before {
          top: 0;
          left: 12px;
        }

        &::after {
          top: 3px;
          left: 16px;
        }
      }
    }

    &--callback {
      width: 100%;
    }
  }
}
