.gallery {
  display: flex;
  flex-direction: row-reverse;
  padding: 121px 0 150px;
  margin-bottom: 136px;
  min-height: 583px;
  background-color: #c2a1b2;
  background-image: url("../img/gallery-img@2x.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;

  @include max-resolution {
    background-image: url("../img/gallery-img.jpg");
  }
}

.gallery__inner {
  margin-right: 170px;
  width: 29.282%;

  h2 {
    @include title;

    margin-bottom: 22px;
  }

  p {
    @include typography(17, 29);

    margin: 0;
    margin-bottom: 49px;
    padding: 0 5px;
    color: $white;
    opacity: 0.87;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  }

  br {
    display: none;
  }
}

.gallery__button {
  position: relative;
  padding-left: 51px;
  width: 230px;
  fill: $white;
  text-decoration: none;

  svg {
    position: absolute;
    top: 18px;
    left: 40px;
    width: 24px;
    height: 24px;
    fill: inherit;
  }
}

@include max-desktop {
  .gallery__inner {
    margin: 0 auto;
    width: 60%;

    h2 {
      margin-bottom: 115px;
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .gallery__button {
    margin: 0 auto;
  }
}

@include max-tablet {
  .gallery {
    margin-bottom: 60px;
    padding-top: 51px;
    padding-bottom: 20px;
    min-height: auto;
    background: none;
  }

  .gallery__inner {
    width: 100%;

    h2 {
      margin-bottom: 25px;
      font-size: rem(40);
      line-height: rem(49);
    }

    p {
      @include typography(16, 26);

      margin: 0 auto;
      margin-bottom: 7px;
      padding: 22% 7% 15.5%;
      width: 100%;
      text-align: left;
      background-image: url("../img/gallery-img-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center -31px;

      @include max-resolution {
        background-image: url("../img/gallery-img-mobile.jpg");
      }
    }

    br {
      display: block;
    }
  }

  .gallery__button {
    width: 264px;

    svg {
      left: 57px;
    }
  }
}
