.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  padding-top: 123px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba($color: $modal-bg, $alpha: 0.95);
  z-index: 1000;
}

.modal__inner {
  @include push-auto;

  position: relative;
  padding: 56px 20px 31px;
  width: 35.13%;
  border-radius: 8px;
  background-color: $white;
  box-shadow: 0 5px 12px rgba($color: $black, $alpha: 0.2);

  h2 {
    @include title;
    @include typography(28, 34);

    margin-bottom: 16px;
    padding-left: 29px;
    text-transform: none;
  }

  p {
    @include typography(15, 26);

    margin: 0;
    margin-bottom: 22px;
    padding-left: 28px;
    padding-right: 54px;
    opacity: 0.87;
  }

  br {
    display: none;
  }

  &--success {
    padding-top: 215px;
    padding-bottom: 112px;

    h2 {
      padding: 0;
      text-align: center;
    }

    p {
      @include push-auto;

      margin-bottom: 33px;
      padding: 0;
      width: 78%;
      text-align: center;
    }

    .modal__button {
      @include push-auto;

      width: 60%;
    }

    &::before {
      @include pseudo;

      top: 118px;
      left: 50%;
      margin-left: -34px;
      width: 71px;
      height: 67px;
      background-image: url("../img/ok-checkmark.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.modal__close {
  @include button-reset;
  @include user-interaction;

  position: absolute;
  top: 32px;
  right: 32px;
  width: 18px;
  height: 18px;
  background-image: url("../img/close-button-img.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

@include max-desktop {
  .modal__inner {
    width: 70%;
  }
}

@include max-tablet {
  .modal {
    padding: 0;
  }

  .modal__inner {
    padding: 168px 16px 20px;
    width: 100%;
    height: 100vh;
    box-shadow: none;
    border-radius: unset;

    h2 {
      @include typography(24, 29);

      margin-bottom: 18px;
      padding-left: 40px;
    }

    p {
      @include typography(14, 22);

      margin-bottom: 21px;
      padding: 0;
      text-align: center;
    }

    br {
      display: block;
    }

    &--success {
      padding-top: 295px;

      h2 {
        padding: 0;
      }

      p {
        margin-bottom: 31px;
        width: 95%;
      }

      .modal__button {
        width: 92%;
      }

      &::before {
        top: 198px;
      }
    }
  }

  .modal__close {
    top: 24px;
    right: 24px;
  }
}
