.programms {
  padding: 48px 0;
  background-image: url("../img/programms-bg@2x.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;

  @include max-resolution {
    background-image: url("../img/programms-bg.png");
  }
}

.programms__container {
  margin: 0 auto;
  width: 69.253%;

  h2 {
    @include title;

    margin-bottom: 66px;
  }
}

@include max-desktop {
  .programms__container {
    h2 {
      text-align: center;
    }
  }
}

@include max-tablet {
  .programms {
    background-position: right -24px top 166px;
    background-size: 100%;
  }

  .programms__container {
    width: 100%;

    h2 {
      margin-bottom: 15px;
    }
  }
}
