.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -100px;
  height: 878px;
  background-color: #debb9a;
  background-image: url("../img/header-bg-girl@2x.png"), url("../img/header-bg-text@2x.png"), url("../img/header-bg-city@2x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom 100%, center 160px, center;
  background-size: cover, 74.5%, cover;

  @include max-resolution {
    background-image: url("../img/header-bg-girl.png"), url("../img/header-bg-text.png"), url("../img/header-bg-city.jpg");
  }

  h1 {
    @include typography(24, 29);

    margin: auto auto 281px;
    width: 25.109%;
    font-family: $main-bold;
    font-weight: 700;
    color: $white;
    text-align: center;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  }
}

.promo__scroll {
  @include transition;

  position: absolute;
  left: 50%;
  bottom: 185px;
  margin-left: -27px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid $white;
  background-color: transparent;
  background-image: url("../img/mouse.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &::before {
    @include pseudo;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -11px;
    margin-right: -11px;
    margin-bottom: -11px;
    margin-left: -11px;
    border: 1px dashed $white;
    border-radius: inherit;
  }

  &::after {
    @include pseudo;
    @include transition;

    left: 50%;
    bottom: -70px;
    width: 1px;
    height: 60px;
    background-color: $white;
  }

  &:hover {
    opacity: 0.7;
    background-position: center 20px;
  }

  &:active {
    opacity: 0.3;
  }
}

@include max-desktop {
  .promo {
    margin-top: -119px;

    h1 {
      width: 38%;
    }
  }
}

@include max-tablet {
  .promo {
    height: 536px;
    margin-top: 0;
    background-image: url("../img/header-bg-girl-mobile@2x.png"), url("../img/header-bg-text-mobile@2x.png"), url("../img/header-bg-city-mobile@2x.jpg");
    background-position: center -51px, center 85px, center -50px;
    background-size: cover, contain, cover;

    @include max-resolution {
      background-image: url("../img/header-bg-girl-mobile.png"), url("../img/header-bg-text-mobile.png"), url("../img/header-bg-city-mobile.jpg");
    }

    h1 {
      @include typography(20, 24);

      margin-bottom: 237px;
      width: 90%;
    }
  }

  .promo__scroll {
    bottom: 140px;
  }
}
