.tabs {
  display: flex;
}

.tabs__list {
  @include list-reset;
}

.tabs__item {
  @include typography(15, 18);

  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding-left: 72px;
  padding-right: 30px;
  width: 228px;
  min-height: 68px;
  text-transform: capitalize;
  cursor: pointer;

  &:not(.tabs__item--active):hover {
    background: linear-gradient(132.19deg, $yellow 20.46%, $light-yellow 65.31%);
    background-clip: text;
    color: transparent;
    opacity: 0.87;
  }

  &:not(.tabs__item--active):active {
    opacity: 0.5;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--active {
    @include typography(19, 10);

    color: $white;
    font-family: $main-medium;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: none;
    font-variant: small-caps;
    background: linear-gradient(138.15deg, $yellow 20.46%, $light-yellow 65.31%);
    cursor: default;

    &::before {
      @include triangle(topright, 30px, 34px, $white);

      position: absolute;
      top: 0;
      right: 0;
    }

    &::after {
      @include triangle(bottomright, 34px, 30px, $white);

      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

// неактивные иконки табов

.tabs__icon {
  position: absolute;
  top: 16px;
  left: 20px;
  display: block;
  width: 36px;
  height: 36px;
  background-image: url("../img/icon-star.png");
  background-repeat: no-repeat;
  background-position: center;

  &--study {
    background-image: url("../img/icon-study.png");
  }

  &--internship {
    background-image: url("../img/icon-internship.png");
  }

  &--volunteer {
    background-image: url("../img/icon-volunteer.png");
  }

  &--religion {
    background-image: url("../img/icon-menora.png");
  }
}

// иконки активного таба

.tabs__item--active .tabs__icon {
  background-image: url("../img/icon-star-active.png");

  &--study {
    background-image: url("../img/icon-study-active.png");
  }

  &--internship {
    background-image: url("../img/icon-internship-active.png");
  }

  &--volunteer {
    background-image: url("../img/icon-volunteer-active.png");
  }

  &--religion {
    background-image: url("../img/icon-menora-active.png");
  }
}

// иконки при ховере

.tabs__item:not(.tabs__item--active):focus .tabs__icon,
.tabs__item:not(.tabs__item--active):hover .tabs__icon {
  background-image: url("../img/icon-star-hover.png");

  &--study {
    background-image: url("../img/icon-study-hover.png");
  }

  &--internship {
    background-image: url("../img/icon-internship-hover.png");
  }

  &--volunteer {
    background-image: url("../img/icon-volunteer-hover.png");
  }

  &--religion {
    background-image: url("../img/icon-menora-hover.png");
  }
}

// содержимое

.tabs__contents {
  @include list-reset;

  position: relative;
  flex-grow: 1;
  // overflow: scroll;
}

.tabs__description {
  // position: absolute;
  left: 0;
  top: 0;
  display: none;
  padding-top: 16px;
  padding-left: 64px;

  &--active {
    display: block;
  }

  h3 {
    @include typography(28, 34);

    margin: 0;
    margin-bottom: 24px;
    font-family: $title-main;
    font-weight: 700;
    letter-spacing: -0.8px;
    color: $blue;
  }

  p {
    @include typography(15, 26);

    margin: 0;
    margin-bottom: 16px;
    width: 84.5%;
    opacity: 0.87;

    &:last-child {
      margin-bottom: 0;
      width: 79%;
    }
  }

  br {
    display: none;
  }
}

@include max-desktop {
  .tabs {
    flex-direction: column;
  }

  .tabs__inner {
    position: relative;
    overflow: hidden;
  }

  .tabs__list {
    position: relative;
    display: flex;
  }

  .tabs__contents {
    min-height: 407px;
  }

  .tabs__item {
    margin-bottom: 0;
    padding-left: 61px;
    padding-right: 22px;
    width: auto;
    min-height: 48px;
    border-radius: 60.67px;

    &--active {
      letter-spacing: 1.2px;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  .tabs__icon {
    top: 6px;
  }
}

@include max-tablet {
  .tabs__inner {
    margin-bottom: 16px;
  }

  .tabs__list {
    left: -41px;
  }

  .tabs__description {
    padding-left: 16px;
    padding-right: 19px;

    h3 {
      @include typography(24, 29);

      margin-bottom: 18px;
      letter-spacing: -0.5px;
    }

    p {
      @include typography(14, 22);

      margin-bottom: 14px;
      width: 100%;

      &:last-child {
        width: 100%;
      }
    }

    br {
      display: block;
    }
  }

  .tabs__item {
    padding-left: 51px;
    padding-right: 12px;
  }

  .tabs__icon {
    top: 8px;
    left: 13px;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
}
