html {
  height: 100%;
  box-sizing: border-box;
  background-color: $white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $main-regular;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  background-color: $white;

  .lazy {
    background-image: none;
  }
}

.no-scroll {
  position: fixed;
  overflow-y: scroll;
}

img {
  display: block;
}
