@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-reset {
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

@mixin push-auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin transition($curve: $trans-curve, $speed: $trans-speed) {
  transition: all $trans-speed $trans-curve;
}

@mixin full-width-vw {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root("::-webkit-input-placeholder") {
    @content;
  }

  @include optional-at-root(":-moz-placeholder") {
    @content;
  }

  @include optional-at-root("::-moz-placeholder") {
    @content;
  }

  @include optional-at-root(":-ms-input-placeholder") {
    @content;
  }
}

@mixin title {
  @include typography(40, 49);

  @include max-desktop {
    @include typography(32, 39);
  }

  margin: 0;
  font-family: $title-main;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.8px;
  color: $blue;
}

@mixin max-pre-desktop {
  @media (max-width: $pre-desktop) {
    @content;
  }
}

@mixin max-desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin max-tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin max-resolution {
  @media (max-resolution: $retina) {
    @content;
  }
}

@mixin triangle($direction, $sizeH, $sizeV, $color) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;

  @if $direction == top {
    border-width: 0 $sizeV $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
  }

  @if $direction == bottom {
    border-width: $sizeV $sizeH 0 $sizeV;
    border-color: $color transparent transparent transparent;
  }

  @if $direction == left {
    border-width: $sizeV $sizeH $sizeV 0;
    border-color: transparent $color transparent transparent;
  }

  @if $direction == right {
    border-width: $sizeV 0 $sizeV $sizeH;
    border-color: transparent transparent transparent $color;
  }

  @if $direction == topright {
    border-width: 0 $sizeH $sizeV 0;
    border-color: transparent $color transparent transparent;
  }

  @if $direction == bottomright {
    border-width: 0 0 $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
  }

  @if $direction == bottomleft {
    border-width: $sizeH 0 0 $sizeV;
    border-color: transparent transparent transparent $color;
  }

  @if $direction == topleft {
    border-width: $sizeH $sizeV 0 0;
    border-color: $color transparent transparent transparent;
  }
}

@mixin user-interaction($hover: 0.7, $active: 0.3) {
  &:focus,
  &:hover {
    opacity: $hover;
  }

  &:active {
    opacity: $active;
  }
}

@mixin typography($fz, $lh) {
  font-size: rem($fz);
  line-height: rem($lh);
}
