//fonts
$main-regular: "Fira Sans Regular", "Helvetica", sans-serif;
$main-medium: "Fira Sans Medium", "Helvetica", sans-serif;
$main-bold: "Fira Sans Bold", "Helvetica", sans-serif;

$title-main: "Montserrat Bold", "Arial", sans-serif;
$title-extra: "Raleway Extra Bold", "Arial", sans-serif;
$title-black: "Raleway Black", "Arial", sans-serif;
//colors
$white: #ffffff;
$black: #484848;
$grey: #d6d6d6;
$blue: #1fc0fc;
$blue-hovered: #63d3fd;
$yellow: #ffc341;
$light-yellow: #ffd701;
$modal-bg: #ebebeb;
$input-stroke: #e3e3e3;
$input-error: #ff0000;
//widths
$mobile: 320px;
$tablet: 767px;
$desktop: 1023px;
$pre-desktop: 1100px;
//resolution
$retina: 1.5dppx;
//transition
$trans-speed: 0.2s;
$trans-curve: ease-in;
